*{
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

body{
    background-color:  black;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 80px;
    border-radius: 10px;
}

label{
    color: white;
}

ul{
    list-style: none;
}

li{
    margin: 2px;
}

input{
    padding: 8px 10px;
    margin: 4px;
}

.imgcont{
    position: relative;
}

.duration{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    font-size: x-small;
    border-radius: 4px;
    padding: 3px;
    bottom: 10px;
    right: 5px;
}


.content{
    list-style: none;
    font-size: 10px;
}

.container{
    
}

.title{
    color: white;
    margin: 3px 10px;
    font-weight: 600;
}

.details{
    color: rgb(172, 172, 172);
    margin-left: 8px;
}

.text{
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

#title{
    width: 80vw;
}



.temp{
    display: flex;
    background-color:rgb(7, 7, 7);
    padding: 20px;
}